<h1> Welcome <% @current_user.fname %></h1>



<%= link_to 'Steamship Lines Administration( eventual dropdown with oprtions)', steamship_lines_path %>
<%= link_to 'Vessels Administration ( eventual dropdown with oprtions)', vessels_path %>
<%= link_to 'Voyages Administration ( eventual dropdown with oprtions)', voyages_path %>
