<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @steamship_line.name %>
</p>

<%= link_to 'Edit', edit_steamship_line_path(@steamship_line) %> |
<%= link_to 'Back', steamship_lines_path %>
