<%= form_with(model: plan, local: true) do |form| %>
  <div class="field">
    <%= form.hidden_field :voyage_id %>
  </div>
  <%= form.fields_for :shifts do |s| %>
  <select class="form-control">
<option>Shift start</option>
</select>

  <% end %>
  <div class="actions">
    <%= form.submit class: 'btn btn-outline-primary' %>
  </div>
<% end %>
